<div class="foodies_1">
  <p class="foodies_tagline">From discovering what to eat to getting seated at the dining table, manage all of it at your fingertips in one app</p>
  <button class="btn btn-primary foodies_1_btn">Learn More</button>
</div>

<div class="container features">
  <br>
  <div class="row merchant_2_description">
    <div class="col-md-4 col-xs-12 foodie_2_pic_1"></div>
    <div class="col-md-8 col-xs-12 merchant_2_text">
      <i class="fa fa-3x fa-search" aria-hidden="true"></i><span class="merchant_2_text_header">Restaurant Discovery</span>
      <hr>
      <p>Conveniently search for good restaurants anywhere with food of your preference using various filters such as location, food type, reviews, price and waiting times</p>
    </div>
  </div>

  <div class="row merchant_2_description" style="min-height: 260px;">
    <div class="visible-xs-12 hidden-md hidden-lg col-xs-12 foodie_2_pic_2"></div>
    <div class="col-md-8 col-xs-12 merchant_2_text">
      <span><i class="fa fa-3x fa-hourglass-half" aria-hidden="true"></i></span><span class="merchant_2_text_header">Queue Remotely</span>
      <hr>
      <p>Get into queues with a quick QR code scan at the restaurant reception and wander around with a peace of mind while waiting for your table to be ready, as the restauranteur will send you push notifications minutes before your turn is up. No more frustrations with queuing</p>
    </div>
    <div class="hidden-xs hidden-sm col-md-4 foodie_2_pic_2"></div>
  </div>

  <div class="row merchant_2_description">
    <div class="col-md-4 col-xs-12 foodie_2_pic_3"></div>
    <div class="col-md-8 col-xs-12 merchant_2_text">
      <i class="fa fa-3x fa-address-book" aria-hidden="true"></i><span class="merchant_2_text_header">Table Booking</span>
      <hr>
      <p>Place a table booking immediately after viewing reviews and menu and being satisfied with what the restaurant has got to offer</p>
    </div>
  </div>

  <div class="row merchant_2_description">
    <div class="visible-xs-12 hidden-md hidden-lg col-xs-12 foodie_2_pic_4"></div>
    <div class="col-md-8 col-xs-12 merchant_2_text">
      <i class="fa fa-4x fa-mobile" aria-hidden="true"></i><span class="merchant_2_text_header">Chat Enquiries</span>
      <hr>
      <p>Message restaurant managers with our in-built chat function for enquiries, enabling a convenient, direct and continuous conversation as you wish</p>
    </div>
    <div class="hidden-xs hidden-sm col-md-4 foodie_2_pic_4"></div>
  </div>

  <br>
</div>

<div class="merchant_3">
  <p class="merchant_3_header">Drop your email with us to be first in the know and receive exclusive deals when our service is ready</p>
  <br>
  <div class="merchant_3_form">

  <%= form_for @lead, url: lead_create_path(format: 'js'), remote: true, :method => 'post' do |form| %>

    <%= form.text_field :email, placeholder: "Enter your email...", type: 'text', class: 'merchant_3_form_input' %>
    <%= form.hidden_field :lead_type,  :value => "foodie" %>
    <span><%= form.button "Join the Potacto Invite List", class: "btn btn-primary merchant_3_form_btn", data: {target: "#myModal", toggle: "modal"}%></span>

  <% end %>

  </div>

  <div class="copyright">
    <h5>&copy; 2017 Potacto. All Rights Reserved.</h5>
  </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Join the Potacto Invite List</h4>
      </div>
      <div class="modal-body">
        <canvas height="0" class="canvas"></canvas>
        <p class="error_box"></p>
        <iframe class="google_form" src="https://docs.google.com/forms/d/e/1FAIpQLScpTOsUuHJeMQZg27Uya7dqo_9F18mgARhU3f-IwroAYykqpg/viewform?embedded=true&ttl=0" width="760" height="545" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
      </div>
 
    </div>

  </div>
</div>