<div class="merchant_1">
  
  <button class="btn btn-primary merchant_1_btn">Learn More</button>
</div>

<div class="container features">
  <br>
  <div class="row merchant_2_description">
    <div class="col-md-4 col-xs-12 merchant_2_pic_2"></div>
    <div class="col-md-8 col-xs-12 merchant_2_text">
      <i class="fa fa-3x fa-users" aria-hidden="true"></i><span class="merchant_2_text_header">Waitlist Management</span>
      <hr>
      <p>Don't lose customers just because you can't sit them quick enough. Manage your customer queues effectively by sending them notifications when their table is ready, and by enabling them to constantly monitor waiting times</p>
    </div>
  </div>

  <div class="row merchant_2_description">
    <div class="visible-xs-12 hidden-md hidden-lg col-xs-12 merchant_2_pic_4"></div>
    <div class="col-md-8 col-xs-12 merchant_2_text">
      <i class="fa fa-3x fa-comments" aria-hidden="true"></i><span class="merchant_2_text_header">Real-time Messaging</span>
      <hr>
      <p>Offer your customers the ease of contacting you via a chat system. Stay engaged in conversations with your potential customers anytime, anywhere</p>
    </div>
    <div class="hidden-xs hidden-sm col-md-4 merchant_2_pic_4"></div>
  </div>

  <div class="row merchant_2_description">
    <div class="col-md-4 col-xs-12 merchant_2_pic_3"></div>
    <div class="col-md-8 col-xs-12 merchant_2_text">
      <i class="fa fa-3x fa-table" aria-hidden="true"></i><span class="merchant_2_text_header">Booking Management</span>
      <hr>
      <p>Offer convenience to your customers who want to make reservations at your restaurant and manage bookings seamlessly</p>
    </div>
  </div>

  <br>
</div>

<div class="merchant_3">
  <p class="merchant_3_header">Drop your email with us to be first in the know when our service is ready</p>
  <br>
  <div class="merchant_3_form">

  <%= form_for @lead, url: lead_create_path(format: 'js'), remote: true, :method => 'post' do |form| %>

    <%= form.text_field :email, placeholder: "Enter your email...", type: 'text', pattern: "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$", class: 'merchant_3_form_input'  %>
    <span><%= form.button "Sign up for beta", class: "btn btn-primary merchant_3_form_btn", data: {target: "#myModal", toggle: "modal"}%></span>

  <% end %>

  </div>

  <div class="copyright">
    <h5>&copy; 2017 Potacto. All Rights Reserved.</h5>
  </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Sign Up for Beta</h4>
      </div>
      <div class="modal-body">
        <canvas height="0" class="canvas"></canvas>
        <p class="modal_text"></p>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScpTOsUuHJeMQZg27Uya7dqo_9F18mgARhU3f-IwroAYykqpg/viewform?embedded=true&ttl=0" width="760" height="545" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
      </div>
 
    </div>

  </div>
</div>