<title>Restaurants - Potacto</title>

<div class="merchant_1">
  <p class="merchant_tagline">Make your brand known. Allow your customers to reach you better, and provide a hassle-free dine out experience to your customers</p>
  <button class="btn btn-primary merchant_1_btn">Learn More</button>
</div>

<div class="container features">
  <br>
  <div class="row merchant_2_description">
    <div class="col-md-4 col-xs-12 merchant_2_pic_1"></div>
    <div class="col-md-8 col-xs-12 merchant_2_text">
      <i class="fa fa-3x fa-users" aria-hidden="true"></i><span class="merchant_2_text_header">Waitlist Management</span>
      <hr>
      <p>Don't lose customers or irritate them by letting them standing in queues just because you can't sit them quick enough. Manage your customer queues effectively by sending them notifications when their table is ready, and by enabling them to constantly monitor waiting times</p>
    </div>
  </div>

  <div class="row merchant_2_description">
    <div class="visible-xs-12 hidden-md hidden-lg col-xs-12 merchant_2_pic_2"></div>
    <div class="col-md-8 col-xs-12 merchant_2_text">
      <i class="fa fa-3x fa-comments" aria-hidden="true"></i><span class="merchant_2_text_header">Real-time Messaging</span>
      <hr>
      <p>Offer your customers the ease of contacting you via a chat system. Communicate with your potential customers anytime, anywhere</p>
    </div>
    <div class="hidden-xs hidden-sm col-md-4 merchant_2_pic_2"></div>
  </div>

  <div class="row merchant_2_description">
    <div class="col-md-4 col-xs-12 merchant_2_pic_3"></div>
    <div class="col-md-8 col-xs-12 merchant_2_text">
      <i class="fa fa-3x fa-table" aria-hidden="true"></i><span class="merchant_2_text_header">Booking Management</span>
      <hr>
      <p>Increase customer conversion by offering your customers convenience in making reservations at your restaurant. Accept and decline booking requests, manage their booking enquiries, and view the upcoming ones in a single dashboard</p>
    </div>
  </div>

  <div class="row merchant_2_description">
    <div class="visible-xs-12 hidden-md hidden-lg col-xs-12 merchant_2_pic_4"></div>
    <div class="col-md-8 col-xs-12 merchant_2_text">
      <i class="fa fa-3x fa-line-chart" aria-hidden="true"></i><span class="merchant_2_text_header">Business Intelligence and Big Data Analytics</span>
      <hr>
      <p>Understand customers’ preference to improve services and offering based on our proprietary software. Make data-driven decisions to optimise your cost and maximise revenue generation</p>
    </div>
    <div class="hidden-xs hidden-sm col-md-4 merchant_2_pic_4"></div>
  </div>
  <br>
  <br>
  <br>
</div>

<div class="merchant_3">
  <p class="merchant_3_header">Drop your email with us to be first in the know and receive exclusive deals when our service is ready</p>
  <br>
  <div class="merchant_3_form">

  <%= form_for @lead, url: lead_create_path(format: 'js'), remote: true, :method => 'post' do |form| %>

    <%= form.text_field :email, placeholder: "Enter your email...", type: 'text', class: 'merchant_3_form_input'  %>
    <%= form.hidden_field :lead_type,  :value => "merchant" %>
    <span><%= form.button "Join the Potacto Invite List", class: "btn btn-primary merchant_3_form_btn", data: {target: "#myModal", toggle: "modal"}%></span>

  <% end %>

  </div>

  <div class="copyright">
    <h5>&copy; 2017 Potacto. All Rights Reserved.</h5>
  </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Join the Potacto Invite List</h4>
      </div>
      <div class="modal-body">
        <canvas height="0" class="canvas"></canvas>
        <p class="modal_text">Redirecting...</p>
      </div>
 
    </div>

  </div>
</div>

