<div class="thank_you">
  <div class="tk container">
    <h3>Thank you for showing interest!</h3>
    <p>We are still work in progress. Thanks for letting us know that you are interested. We do not want to spend time building something that nobody is interested in.</p>
    <br>
    <p>We would be happy to keep you posted on how things are progressing. If you would like to stay connected and provide us some feedback, feel free to fill up our <%= link_to "survey", "https://docs.google.com/forms/d/e/1FAIpQLScpTOsUuHJeMQZg27Uya7dqo_9F18mgARhU3f-IwroAYykqpg/viewform?c=0&w=1" %></p>
    
  </div>
</div>