
#foodie_nav {
  font-family: "Lato";
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
  font-size: 11.5px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.foodie_nav_link_1 {
  color: #E5E4E2 !important;
}
.foodie_nav_link_1:hover {
  transition-duration: 0.7s;
  color: #d3004c !important;
}
.foodie_nav_link_2:hover {
  transition-duration: 0.7s;
  color: #d3004c !important;
}
.navbar_logo {
  height: 100px;
  margin-top: -38px;
}

.responsive-menu{
    display:inline-block;
    color: black !important;
  }
