@font-face {
  font-family: "Avenir Roman";
  src: url('avenirroman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: "Avenir Roman";
}
.heading_1 {
  position: relative;
  display: block;
  height: 500px;
  top: 0;
  left: 0;
  background: url('restaurant1.jpeg'); 
  background-position: center; 
  background-size:cover;
  justify-content: center;
  overflow: hidden;
  h1 {
    margin-left: 72.5%;
  }
  h2 {
    margin-left: 62%;
  }
  &:hover {
    background-color: rgba(0,0,0,0.75);
    transition-duration: 0.7s;
    opacity: 0.5;
  }      
  .header_title {
    position: absolute;
    top: 35%;
    color: white;
    width: 100%;
  }
  .header_text {
    position: absolute;
    top: 48%;
    color: white;
    width: 100%;
  }
}

.heading_2 {
  position: relative;
  display: block;
  height: 500px;
  top: 0;
  left: 0;
  background: url('foodie1.jpeg'); 
  background-size:cover;
  background-position: center; 
  justify-content: center;
  overflow: hidden;
  h1 {
    margin-left: -10px;
  }
  h2 {
    margin-left: -10px;
  }
  &:hover {
    background-color: rgba(0,0,0,0.75);
    transition-duration: 0.7s;
    opacity: 0.5;
  } 
  .header_title {
    position: absolute;
    top: 35%;
    color: white;
    width: 100%;
  }
  .header_text {
    position: absolute;
    top: 48%;
    color: white;
    width: 100%;
  }
}

.restaurant_section {
  position: relative;
  height: 600px;
  top: 0;
  left: 0;
  background: url('foodie2.jpg'); 
  background-size: cover;
  /*background-repeat: no-repeat;*/
  background-position: center; 
  text-align: center;
  justify-content: center;
  overflow: hidden;
  color: white;
  .section {
    margin-top: 40px;
    padding: 10px;
  }
  .title {
    font-size: 25px;
  }
  .text {
    font-size: 18px;
    padding: 10px;
  }
}

.foodie_section {

  position: relative;
  display: block;
  height: 600px;
  top: 0;
  left: 0;
  background: url('restaurant2.jpg'); 
  background-size: cover;
  /*background-repeat: no-repeat;*/
  background-position: right; 
  text-align: center;
  justify-content: center;
  overflow: hidden;
  color: white;
  .row {
    padding: 5px;
    .icon_section {
      text-align: right;
    }
    .text_section {
      text-align: left;
      font-size: 17px;
      span {
        vertical-align: middle;
      }
    }
  }
}

.what_and_how_section {
  position: relative;
  height: 500px;
  top: 0;
  left: 0;
  background: url('res_scene.jpg'); 
  background-size: cover;
  /*background-repeat: no-repeat;*/
  background-position: center; 
  text-align: center;
  justify-content: center;
  overflow: hidden;
  color: white;

}

#contact_us {
  position:relative;
  height: 500px;
  text-align: center;
  justify-content: center;
  display: flex;               /* establish flex container */
  align-items: center;   
}
.contact_us_1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: url('contact_us.jpg'); 
  background-size: cover;
  /*background-repeat: no-repeat;*/
  background-position: center; 
  text-align: center;
  justify-content: center;
  overflow: hidden;
  color: white;
  filter: blur(10px);
  z-index: 1;

}

.contact_us_2 {
  position: relative;
  height: 80%;
  width: 80%;
  top: 0;
  left: 0;
  background: url('contact_us.jpg'); 
  background-size: cover;
  /*background-repeat: no-repeat;*/
  background-position: center; 
  text-align: center;
  justify-content: center;
  color: white;
  z-index: 99;
  box-shadow: 0 0 25px rgb(0,0,0);
  padding: 10px 90px;
}

#form_button {
  background: transparent;
  width: 200px;
  height: 60px;
  border-width: 2px;
  border-color: white;
  border-radius: 3px;
  font-size: 20px;
}

#form_button:hover {
  background: white;
  color: rgba(154,59,59,1);
  transition-duration: 0.7s;
}

