@font-face {
  font-family: "Lato";
  src: url('Lato.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Roman";
  src: url('avenirroman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "League";
  src: url('leaguegothic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Avenir Roman";
}

.transparent {
  border-width: 0px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  background-color: rgba(0,0,0,0.0);
  background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
  background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
  background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
  border: 0;
}

.merchant_1 {
  position: relative;
  height: 100vh;
  background: url('merchant1.jpeg'); 
  background-size: cover;
  background-position: center; 
  overflow: hidden;
  text-align: center;
  .merchant_3_form {
    display: block;
    margin: 0 auto;
    height: 80%;
    width: 80%;
    text-align: center;
    justify-content: center;
    color: white;
    z-index: 99;
    .merchant_3_form_input {
      margin-right: 5px;
      font-family: "Lato";
      text-transform: uppercase;
      letter-spacing: 2px;
      background: rgba(255,255,255,0.7);
      border-radius: 5px;
      border: none;
      color: white;
      font-size: 12px;
      height: 65px;
      outline: 0;
      padding-left: 20px;
      -webkit-transition: background .55s ease;
      transition: background .55s ease;
      width: 252px;
    }
    .merchant_3_form_input:hover, .merchant_3_form_input:focus {
      background: white;
      color: #A8016C;
    }
    .merchant_3_form_input::-webkit-input-placeholder {
      font-size: 12px;
      color: #A8016C;
    }
    .merchant_3_form_input::-moz-placeholder {
      font-size: 12px;
      color: #A8016C;
    }
    .merchant_3_form_btn {
      margin-left: 5px;
      font-family: "Lato";
      text-transform: uppercase;
      letter-spacing: 2px;
      width: 252px;
      height: 65px;
      background-color: #A8016C;
      border: none;
      font-size: 12px;
      transition: .55s ease;
    }
    .merchant_3_form_btn:hover {
      background-color: #A8016C;
      box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
    }
  }
}
.merchant_tagline {
  padding: 0 20px 20px;
  margin: 25vh 0 5vh 0;
  font-family: "Lato";
  font-size: 4vh;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  font-weight: bolder;
}

.merchant_1_btn {
  display: block;
  margin: 0 auto;
  width: 180px;
  height: 65px;
  background-color: #d3004c;
  border: none;
  font-family: "Lato";
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: .55s ease;
}
.merchant_1_btn:hover {
  background-color: #d3004c;
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
}

.merchant_2_description {
  height: 40vh;

  .merchant_2_pic_1 {
    height: 40vh;
    background: url('merchant_image_1.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    border-radius: 25px;  
    box-shadow: 0 0 9px #888888;
  }
  .merchant_2_pic_2 {
    height: 40vh;
    background: url('merchant_image_2.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    border-radius: 25px;  
    box-shadow: 0 0 9px #888888;
  }
  .merchant_2_pic_3 {
    height: 40vh;
    background: url('merchant_image_3.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    border-radius: 25px;  
    box-shadow: 0 0 9px #888888;
  }
  .merchant_2_pic_4 {
    height: 40vh;
    background: url('merchant_image_4.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    border-radius: 25px;  
    box-shadow: 0 0 9px #888888;
  }
  .merchant_2_text {
    margin: 8vh auto;
    .merchant_2_text_header {
      margin-left: 20px;
      font-size: 30px;
    }
    p {
      font-size: 2.5vh;
    }
  }
}

.merchant_3 {
  height: 80vh;
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
    url('merchant3.jpg'); 
  background-size: cover;
  background-position: center; 
  background-attachment: fixed;
  padding-top: 25vh;
  padding-bottom: 5vh;
  text-align: center;
  color: #A8016C;
  padding-left: 5px;
  padding-right: 5px;
  .merchant_3_header {
    color: white !important;
    font-family: "Lato";
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
  }
  .merchant_3_form {
    display: block;
    margin: 0 auto;
    height: 80%;
    width: 80%;
    text-align: center;
    justify-content: center;
    color: white;
    z-index: 99;
    .merchant_3_form_input {
      margin-right: 5px;
      font-family: "Lato";
      text-transform: uppercase;
      letter-spacing: 2px;
      background: rgba(255,255,255,0.7);
      border-radius: 5px;
      border: none;
      color: white;
      font-size: 12px;
      height: 65px;
      outline: 0;
      padding-left: 20px;
      -webkit-transition: background .55s ease;
      transition: background .55s ease;
      width: 252px;
    }
    .merchant_3_form_input:hover, .merchant_3_form_input:focus {
      background: white;
      color: #A8016C;
    }
    .merchant_3_form_input::-webkit-input-placeholder {
      font-size: 12px;
      color: #A8016C;
    }
    .merchant_3_form_input::-moz-placeholder {
      font-size: 12px;
      color: #A8016C;
    }
    .merchant_3_form_btn {
      margin-left: 5px;
      font-family: "Lato";
      text-transform: uppercase;
      letter-spacing: 2px;
      width: 252px;
      height: 65px;
      background-color: #A8016C;
      border: none;
      font-size: 12px;
      transition: .55s ease;
    }
    .merchant_3_form_btn:hover {
      background-color: #A8016C;
      box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
    }
  }
}

.modal-dialog {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  .modal-content {
    text-align: center;
    .modal-title {
      text-transform: uppercase;
      letter-spacing: 2px;
      color: #A8016C;
      font-weight: bold;
    }
    .modal-body {
      height: 100%;
    }
    .google_form{
      display: block;
      margin: 0 auto;
    }
    .modal_form_input {
      font-family: "Lato";
      text-transform: uppercase;
      letter-spacing: 2px;
      background: rgba(251,209,132,0.4);
      border-radius: 5px;
      border: none;
      color: #A8016C;
      font-size: 12px;
      height: 65px;
      outline: 0;
      padding-left: 20px;
      -webkit-transition: background .55s ease;
      transition: background .55s ease;
      width: 300px;
    }
    .modal_form_input::-webkit-input-placeholder {
      font-size: 12px;
      color: rgba(168,1,108,0.3);
    }
    .modal_form_input::-moz-placeholder {
      font-size: 12px;
      color: rgba(168,1,108,0.3);
    }
    .modal_form_input:hover, .modal_form_input:focus {
      background: rgba(251,209,132,0.6);
      color: #A8016C;
    }
    .modal_form_btn {
      font-family: "Lato";
      text-transform: uppercase;
      letter-spacing: 2px;
      width: 180px;
      height: 65px;
      background-color: #A8016C;
      border: none;
      font-size: 12px;
      transition: .55s ease;
    }
    .modal_form_btn:hover {
      background-color: #A8016C;
      box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
    }
  }
}
