<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

  <h1>Hi <%= @lead.name %>,</h1>

    <div class="container">
      <p>Thank you for showing interest in Potacto. If you have asked a question, you can expect us to get back to you in 3 working days. If not, we are always happy to engage in a conversation with you to hear from you what you have to say about our service!</p>
      <br>

      <p>We are in the midst of developing the apps for both merchants and consumers, collecting relevant feedback and improving them as we build them. It is our vision to have consumers being able to rely on Potacto to serve all their eat-out needs, from restaurant discovery, review-check, making enquiries to joining queues and making bookings effectively. Whilst for merchants, we want to provide an app with chat, booking and queue management functionalities. Merchants will also be able to customise their profile pages through the app - an all-in-one solution to manage customer front-end needs.</p>
      <br>

      <p>Stay tuned for our updates as we journey on our quest of making eating as convenient as it can get!</p>
    </div>

  <h3>With love,<br /> Team Potacto</h3>
  <p>Website: <a href="wwww.google.com">www.potacto.com</a></p>

  </body>
</html>